html{
    font-size:1.1vw;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    position: absolute;

    --main-color:#DB2B39;
    --opposite-main-color:#24d4c6;
    --secondary-color:#E4626D;
    --super-light-main:#F6CBCE;

    --accent-color:#FA8334;
    --light-accent:#F9A826;

    --black:#070707;
    --light-black:#40434E;
}
.twoColumns{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.fancyLink{
    cursor:pointer;
    position:relative;
    text-decoration:none;
    font-weight:bold;
    transition: color 0.2s;
}
.fancyLink::after{
    content:'';
    position:absolute;
    width:100%;
    height:4px;
    background:var(--secondary-color);
    bottom:0;
    left:0;
    transform:scaleX(0);
    transform-origin:bottom right;
    transition:transform 0.2s;
}
.fancyLink:hover::after{
    transform:scaleX(1);
    transform-origin:bottom left;
}
a{
    color:unset;
}
